.flex-grow-0{
    flex-grow: 0;
}
h1{
    font-size: 70px;
}
i{
    font-size: 150px;
}
.php-icon{
    font-size: 130px;
}
h2{
    font-size: 50px;
    scroll-margin-top: 50px;
}
.scroll-margin-top{
    scroll-margin-top: 60px;
}
.bg-color-form{
    background-color: rgba(186, 192, 198, 0.5);
}